body {
    background-color: #000;
    color: white;
}

.alert {
    margin: 2em;
    text-align: center;
}

.time-box {
    position: absolute;
    display: block;
    margin: 1.5em;
    text-align: center;
    border: 1px dashed white;
    padding: 1em;
    border-radius: 25px;
}

.time-box.sync {
    top: 0;
    right: 0;
}


.time-box.async {
    left: 0;
    top: 188px;
}

h1 {
    text-align: center;
    color: crimson;
}

.story-info {
    color: #00ff5c;
}

@-webkit-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

.spinner circle {
    fill: none;
    stroke: slategray;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 0, 0, 70, 194;
    stroke-dashoffset: 0;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}